log/
!log/.gitkeep
!db/schema.rb
public/*
!public/apps
!public/noavatar.png
reports/*
!reports/.gitkeep
!public/qr_code
!public/.gitkeep
!public/html/
.bundle
config/database.yml
config/sidekiq.yml
tmp/pids/*
!tmp/pids/.gitkeep
tmp/sockets/*
!tmp/sockets/.gitkeep
tmp/log/*
!tmp/log/.gitkeep
data/*/uploaded/
data/*/log/
exports/*
!exports/.gitkeep
